/* ********** RESET ********** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* ---------- Slider ---------- */
.slider {
    width: 100%;
    display: flex;
}

/* -- Slider items (images, left part of the slider) -- */
.slider-items {
    width: 80%;
    height: 60vh;
    position: relative;
}

.game {
    position: absolute;
    color: white;
    right: 1rem;
    bottom: 2rem;
    text-align: right;
    display: none;
    animation: fade-in 2s;
}


.item {
    height: 100%;
    display: none;
    animation: fade-in 1.5s;
}

/* Fade animation */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* active item */
.active-item,
.active-game {
    display: block;
}

/* -- Images list (right part of the slider) -- */
.images-list {
    width: 20%;
    position: relative;
}

.thumbnail {
    height: calc(60vh / 5);
    width: 100%;
    filter: brightness(50%);
    cursor: pointer;
}

.active-thumbnail {
    filter: brightness(100%);
    border: 2px solid lightgray;
}

/* Navigation buttons of the slider */
.next,
.previous {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.images-list .next {
    bottom: 10px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

.images-list .previous {
    top: 10px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}

/* Start, stop, and reverse autoplay buttons */
.autoplay-buttons {
    margin-left: 1rem;
    flex-direction: column;
    display: flex;
}

.start-button,
.stop-button,
.reverse-button {
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}